In [61]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix

In [62]:
class Normalizer:
    def __init__(self):
        self.mean = None
        self.std = None

    def fit(self, X):
        self.mean = np.mean(X, axis=0)
        self.std = np.std(X, axis=0)

    def transform(self, X):
        X_normalized = (X - self.mean) / self.std
        return X_normalized

    def fit_transform(self, X):
        self.fit(X)
        return self.transform(X)

In [63]:
df = pd.read_csv('../data/df_processed.csv', index_col=0)
float64_cols = list(df.select_dtypes(include='float64'))
df[float64_cols] = df[float64_cols].astype('float32')

In [64]:
df.head()

,tx_fraud,mean_amount,std_amount,mean_nb_tx_per_day,nb_terminals,amount_above_mean,deviation_std,deviation_big,hour,day_of_week,log_amount,minutes_since_last_tx,distance_km
tx_amount,,,,,,,,,,,,,
61.51,0,62.26252,31.13126,2.17953,22,-0.752520,-0.02417,0,3,6,4.11920,150.0,200.589996
129.61,0,62.26252,31.13126,2.17953,22,67.347481,2.16334,1,5,6,4.86453,150.0,459.269989
96.50,0,62.26252,31.13126,2.17953,22,34.237480,1.09978,0,10,6,4.56954,310.0,384.019989
82.19,0,62.26252,31.13126,2.17953,22,19.927481,0.64011,0,15,6,4.40903,298.0,286.739990
50.77,0,62.26252,31.13126,2.17953,22,-11.492520,-0.36916,0,19,6,3.92731,227.0,73.279999

In [65]:
X = df.drop('tx_fraud', axis=1).round(5)
y = df['tx_fraud']

In [66]:
df.dtypes

tx_fraud                   int64
mean_amount              float32
std_amount               float32
mean_nb_tx_per_day       float32
nb_terminals               int64
amount_above_mean        float32
deviation_std            float32
deviation_big              int64
hour                       int64
day_of_week                int64
log_amount               float32
minutes_since_last_tx    float32
distance_km              float32
dtype: object

In [67]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, shuffle=True)

print("Number of rows in X_train:", len(X_train))
print("Number of rows in X_test:", len(X_test))
print("Number of rows in y_train:", len(y_train))
print("Number of rows in y_test:", len(y_test))
X_train.shape

Number of rows in X_train: 232984
Number of rows in X_test: 58247
Number of rows in y_train: 232984
Number of rows in y_test: 58247

(232984, 12)

In [69]:
scaler = Normalizer()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [70]:
X_train_scaled

,mean_amount,std_amount,mean_nb_tx_per_day,nb_terminals,amount_above_mean,deviation_std,deviation_big,hour,day_of_week,log_amount,minutes_since_last_tx,distance_km
tx_amount,,,,,,,,,,,,
69.44,-0.707281,-0.707281,-0.475868,0.405333,1.289245,2.373677,6.219636,0.494633,-1.485267,NaN,-0.862242,1.306447
31.17,-0.644612,-0.644613,1.165916,0.882585,-0.155016,-0.234882,-0.160781,-0.494457,1.010837,NaN,-1.096837,1.539746
36.53,-0.841056,-0.841056,1.393779,2.314342,0.233372,0.526361,-0.160781,-0.890093,1.510058,NaN,1.346437,0.482262
37.98,-0.947689,-0.947689,1.293810,-0.310546,0.391487,0.953403,-0.160781,1.285905,0.511616,NaN,-0.570247,-1.777120
3.91,-1.628241,-1.628241,-1.044092,-1.026424,-0.164041,-0.990124,-0.160781,-1.285729,1.010837,NaN,-1.079367,1.382516
...,...,...,...,...,...,...,...,...,...,...,...,...
37.86,0.339459,0.339459,0.910191,-0.787798,-0.889311,-0.861064,-0.160781,-1.087911,-0.986046,NaN,0.892223,-0.913504
60.30,-0.539499,-0.539498,-0.847667,-0.787798,0.792766,1.282301,-0.160781,-0.494457,1.510058,NaN,-0.627648,0.622077
111.42,1.205419,1.205418,-0.004631,-0.071919,0.908520,0.604315,-0.160781,-0.296639,-0.486825,NaN,-0.527821,0.499102
5.86,-1.613428,-1.613428,-1.626548,1.359837,-0.108307,-0.498061,-0.160781,1.483723,1.510058,NaN,-0.021197,0.707839
109.09,0.627639,0.627639,0.578542,-0.787798,1.397356,1.171890,-0.160781,0.494633,1.010837,NaN,-0.944600,-1.709513

In [ ]:
model = tf.keras.Sequential